.header {
  display: flex;
  background-color: transparent;
  background: none;
  width: 100vw;
  max-width: 100%;
  top: 0;
  padding: 15px;
  padding-top: 15px;
  z-index: 100;
  justify-content: center;

  position: fixed;
}

.header__logo {
  height: 24px;
  width: 100px;
  padding-top: 7px;
}

.header__center {
  flex: 0.8;
  display: flex;
  justify-content: center;
}

.header__center > p {
  padding: 10px;
  text-transform: uppercase;
}

.header__right {
  display: flex;
  text-transform: uppercase;
}

.header__right > p {
  padding: 10px;
}

@media (max-width: 1079px) {
  .header__right {
    display: none;
  }

  .header__center {
    padding-top: 7px;
    align-items: flex-end;
  }

  .header__center > p {
    padding: 4px;
    text-align: center;
  }
}

@media (max-width: 1079px) {
  .header__center > p {
    padding: 0.5rem;
    font-size: 0.8rem;
  }

  .header__logo {
    margin-right: 3rem;
    height: 0.5rem;
    width: 40px;
    padding: 8px;
  }
}
